button {
  box-shadow: none;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
}

.blue {
  background-color: $blueko;
}

.blue-light {
  background-color: $blueko-light;
}

.terracota {
  background-color: $terracota;
}